:host {
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 16px;
        max-height: 500px;
        .inner {
            box-sizing: border-box;
            background-color: #ffffff;
            box-shadow: 0px 0px 17px 6px #D7D7D7;
            border-radius: 16px;
            flex-basis: 49.33333333%;
        }
        .clima-content {
            padding: 5% 20%;
            flex-basis: 100%;
        }
    }
}