:host {
  display: block;

  mat-card {
    background: hsla(195, 100%, 45%, 1);

background: radial-gradient(circle, hsla(195, 100%, 45%, 1) 0%, hsla(193, 90%, 64%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(195, 100%, 45%, 1) 0%, hsla(193, 90%, 64%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(195, 100%, 45%, 1) 0%, hsla(193, 90%, 64%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00AAE4", endColorstr="#51D1F6", GradientType=1 );
  }

  .content-info {
    display: flex;
    flex-direction: column;

    h2{
      margin: 0;
      padding: 0;
    }
    .top-content {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
    }
    .right_content {
      display: flex;
      flex-direction: column;
    }
  }
  mat-card-footer {
    padding: 0 16px;
  }
}
